/**
 * Media responsive
 */


.phoneRatio {
    width: 325px !important;
}

.phoneRatio #characterSheet {
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 850px) {

main {
    display: flex;
    flex-direction: column;
}

aside {
    padding: 15px;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}

#asideInfos {
    display: none;
}

#fullWindow {
    width: 100%;
    margin:0;
}

#characterSheet {
    display: flex;
    flex-direction: column;
}

.divRow {
    width:fit-content !important;
    margin:0;
}

#screen {
    display:none;
}

}