#content {
    display: flex;
    justify-content: flex-start;
    width: 100%
}


#fullWindow,
#fullWindow div,
#mySpellbook,
#myTricksDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



#fullWindow article,
#fullWindow div article {
    border: solid black 1px;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 20px;
    width: 275px;
    background-image: url('../images/paper.jpg');
    background-size:auto;
}

.show-more-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    box-shadow: none;
    text-align: center;
    font-size: 50px;
    color: black;
    border-radius: 100%;
    width: 50px!important;
    height: 50px !important;
    margin: 25px 150px 0 150px !important;

}





article h3 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    text-align: right;
    color: black;
    border-bottom: solid 2px rgb(56, 56, 56);
}

.formula {
font-size: 0.7rem;
font-style: italic;
text-align: right;
margin-bottom: 5px;
}

.ritual {
    margin: 0;
}

.header,
.ritual,
.description {
    font-size: 0.8rem;
    text-align:start;
    margin:0;
}

.description-spell {
    font-size: 0.8rem;
    text-align:start;
    margin-top:0.7rem;
    margin-bottom: 0;
}

.header {
    margin-bottom: 5px;
}

article .description ul {
    margin: 3px 3px 3px 10px;
}

article .description li {
    margin:0;
}

article .description div {
    text-align: center;
    margin-top: 8px;
}

h2 {
    font-size:2rem;
    color: black;
    border-bottom: solid 5px black;
    margin: 2rem 2rem 2rem 2rem;
}

#perType {
display: flex;
flex-direction: column;
justify-content: center;
}


#userSearch,
#customSpellbook {
    display:block;
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(#464d55, #000000);
    background-color: black;
    padding: 0 0.4rem;
    border:none;
    color:white;
    height:1.7rem;
 }


#searchArea div,
#mySpellbook {
    padding-bottom: 3rem;
}

/* CSS */
.card-effect:hover,
.card-effect:focus {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-effect:hover {
    transform: translateY(-3px);
}

.card-effect:active {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateY(0);
}
