
/**
 * fullWindow
 */

#content {
    display: flex;
    justify-content: flex-start;
    width: 100%
}


#searchArea div,
#mySpellbook {
    padding-bottom: 1rem;
}

#fullWindow,
#fullWindow div,
#mySpellbook,
#myTricksDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.show-more-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    box-shadow: none;
    text-align: center;
    font-size: 50px;
    color: var(--color-black);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin: 25px 40%;

}

/**
 * spell card
 */


article {
    opacity : 1;
    transition: opacity 0.25s 0.25s !important; /* Transition duration and easing */
}

article.fade {
    opacity: 0 !important;
    
}

#fullWindow article,
#fullWindow div article {
    border: none;
    padding: 16px;
    margin: 0.5rem;
    border-radius: 10px;
    width: 275px;
    background-color: var(--color-black-transparent-dark);
    background-size:auto;
}

h2 {
    font-size:2rem;
    color:var(--color-black);
    border-bottom: solid 5px var(--color-black);
    margin: 2rem 2rem 2rem 2rem;
    height: min-content;
}

article h3 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    text-align: right;
    color: var(--color-black);
    border-bottom: solid 2px rgb(56, 56, 56);
}

.addedToSpellbook {
    display: flex;
    flex: column;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.addedToSpellbook h3 {
    font-size: 1.5rem;
}


.formula {
font-size: 0.7rem;
font-style: italic;
text-align: right;
margin-bottom: 5px;
}

.ritual {
    margin: 0;
}


.header,
.ritual,
.description {
    font-size: 0.8rem;
    text-align:start;
    margin:0;
}

.header {
    margin-bottom: 8px;
}


.description-spell {
    font-size: 0.8rem;
    text-align:start;
    margin-top:0.7rem;
    margin-bottom: 0;
}

article .description ul {
    margin: 3px 3px 3px 10px;
    padding-left:0;
}

article .description li {
    margin:0;
}

article .description div {
    display: inline !important;
    text-align: center !important;
    margin-top: 8px;
}












