/**
 * Reset
 */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
 * Eléments génériques
 */

body {
    --color-1: #000000;
    --color-2: #ffffff;
    --color-3: #00000038;   
    --color-4: #1414148f;
    --color-5: #6e6e6e15;  
    --color-green: rgb(1, 107, 1);
    --color-red: rgb(197, 0, 0);
    background-color: var(--color-1);
    height: 100vw;
    font-family:"Segoe UI";
    max-height: 100vh;
    overflow-y: auto; /* pour activer le défilement vertical si nécessaire */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#tableVue {
    grid-area : foot;
    margin: 1rem;
    padding:10px 10px 10px 30px;
    background-color: var(--color-3);
}

#fullWindow {
    background-color: white;

    border: solid black 2px;
    
    width: 60%;
    margin: auto;
    margin-top: 35px;

    display: grid;

    grid-template:  "a b"
                    "foot foot" auto/1fr 6fr;

    padding:0;
    box-shadow: rgba(255, 255, 255, 0.445) 0px 3px 50px;
}



#rightBottomDisplay {
    display: grid;
    width:100%;
    grid-template-columns: 2.5fr 3fr 4fr;
    
}
   


/**
 * Colonnes
 */

.column {
    margin:0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
}

.config {
    justify-content: space-around;
    align-content: space-around;
}

.affichageLeft {
    justify-content: flex-start;
}

.affichageMid {
    justify-content: flex-start;

}

.affichageRight {
    justify-content: flex-start;
}

#fullMiddleDisplay {
    padding:0 1rem 1rem 1rem;
}

footer {
    color: rgba(255, 255, 255, 0.329);
    text-align: center;
    padding-right: 1rem;
}

footer span {
    margin : 0.75rem 0.75rem;
    display: block;
}


a {
    color : rgb(148, 0, 0);
}

/**
 * Config
 */

 #buttons {
    display:flex;
    justify-content: space-around;
    margin: 1.2rem 0;
 }

 .config #zoneVueDetaillee,
 .config #zoneNotes {
    margin: 1rem auto;
 }

#propositionUtilisateur {
    display:flex;
    flex-direction: row;
}

 #champTexte {
    display:block;
    width: 70%;
    margin: 0 auto;
    background-image: linear-gradient(#464d55, #000000);
    background-color: black;
    padding: 0 0.4rem;
    border:none;
    color:white;
    height:1.7rem;
 }

 #champAge {
    display:block;
    width: 20%;
    margin: 0 auto;
    background-image: linear-gradient(#464d55, #000000);
    background-color: black;
    border:none;
    padding: 0 0.4rem;
    color:white;
    height:1.7rem;
 }



/**
 * Text
 */

.strong {
    font-weight: bold;
}

.is-red {
    color: var(--color-red);
}

.is-green {
    color: var(--color-green)
}

.italic {
    font-style: italic;
}

.is-small {
    font-size:large;
}

.is-smaller {
    font-size:smaller;
}

.is-bigger {
    font-size:xx-large;
}



/**
 * Autres
 */

h1 {
    text-align: center;
    font-size: 1.5rem;
    margin:20px 0 0 0px;
    font-weight: bold;
    font-family: Book Antiqua;
}

p {
    text-align: center;
    margin: 0 0 20px 0;
}


select {
    margin: 3px auto 0.7rem auto;
    width: 190px;
    color: var(--color-2);
    background-image: linear-gradient(#464d55, #000000);
    background-color: black;
    padding: 0.6rem;
    border-radius: 10px;
    border: none;
}



.do-not-display {
    display:none;
}

.do-not-display-magie {
    display:none;
}

table {
    border-collapse : collapse;
}


td {
    border-top: solid 1px var(--color-4);
    border-bottom: solid 1px var(--color-4);
}

#tableCompetences {
    width : 100%
}

#tableCompetences td {
    padding: 10px 0 10px 10px;
}

#tableCompetences td + td {
    padding: 10px 10px 10px 0;
}

td + td {
    text-align:right;
}

#tableAttributs {
    width : 100%;
    margin: 0 auto 0 auto;
}

#tableAttributs td {
    padding: 10px 0 10px 10px;
}

#tableAttributs td + td {
    padding: 10px 10px 10px 0;
}

#tableAtouts {
    margin: 15px 0 0 0;
}

#tableGrimoire {
    margin: 15px 0 0 0;
}


#tableAtouts div {
    min-height: 3rem;
}

#listeAtouts, 
#listeEquipement,
#listeGrimoireTours,
#listeGrimoireSortileges {
    margin: 0 0 0 20px; /* décale les listes sur le côté*/
    padding: 10px;
}

#tableEquipement div,
#tableAtouts div,
#tableGrimoire div {
    border-collapse: collapse;
    background-color: var(--color-3);
}

#tableEquipement div {
    min-height: 10rem;
    width:100%
}





ul li {
    margin-bottom: 0.5rem;
}


h2 {
    text-align: center;
    width:100%;
    font-size: 1.2rem;
    padding:5px;
    font-family: Book Antiqua;
}



tr:nth-child(odd) {
    background-color: var(--color-3);
  }

tr:nth-child(even) {
background-color: var(--color-5);
}



#champNotes {
    background-color: var(--color-3);
    border:none;
    width: 100% ;
    padding: 10px;
    resize: vertical;
    font-family:"Segoe UI";
    font-size: 16px;
}




/**
 * Bouton
 */
 
 .myButton {
    
   height:100%;
   appearance: none;
   background-color: rgba(0, 0, 0, 0.178);
   box-shadow: rgba(255, 255, 255, 0.25) 0 8px 15px;
   color: black;
   border: none;
   border-radius: 20px;
   cursor: pointer;
   font-family:expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";  
   font-size: 16px;
   font-weight: 600;
   line-height: normal;
   outline: none;
   padding: 10px;
   text-align: center;
   text-decoration: none;
   transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   will-change: transform;
 }

 .myButton img {
    position: absolute; /* Position the image absolutely */
    top: 50%; /* Align the image vertically at 50% of the button's height */
    left: 50%; /* Align the image horizontally at 50% of the button's width */
    transform: translate(-50%, -50%); /* Center the image */
    width: 65%; /* Image width will match the width of the button */
    height: 65%; /* Image height will match the height of the button */
    z-index: 1; /* Ensure the image appears above the background */
 }


#generer {
    aspect-ratio: 1.5 / 1;
}

 #save {
    aspect-ratio: 1 / 1;
 }
 
 .myButton:disabled {
   pointer-events: none;
 }
 
 .myButton:hover {
   box-shadow: rgba(0, 0, 0, 0.26) 0 8px 15px;
   transform: translateY(-2px);
   background-color: rgba(0, 0, 0, 0.39);
 }
 
 .myButton:active {
   box-shadow: none;
   transform: translateY(0);
 }






/**
 * Media responsive
 */

 @media screen and (min-width: 1651px) and (max-width: 1750px)  {
    #fullWindow {
        width: 70%;
    }
    }

@media screen  and (min-width: 1551px) and (max-width: 1650px) {
    #fullWindow {
        width: 77.5%;
    }
    }

@media screen  and (min-width: 1451px) and (max-width: 1550px) {
    #fullWindow {
        width: 85%;
    }
    }

@media screen  and (min-width: 1351px) and (max-width: 1450px) {
    #fullWindow {
        width: 92.5%;
    }
}

@media screen  and (min-width: 851px) and (max-width: 1350px) {
    #fullWindow {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {


    body {
        margin:auto;
    }

    #fullWindow {
        margin-top: 0;
        width: 100%;
        grid-template:  "a"
                        "b"
                        "foot" auto/1fr;
        }
        
    #rightBottomDisplay {
        display: flex;
        flex-direction: column;
    }

/**
 * setup grid config
 */


 #buttons {
    display: flex;
    flex-direction: row;
    grid-area: buttons;
 }
 #divSelectName {
    grid-area: name;
 }
#propositionUtilisateur {
    grid-area: proposition;
}

 #divArchetype {
    grid-area: archetype;
 }
 #divPeuple {
    grid-area: peuple;
 }
 #divGroupe {
    grid-area: groupe;
 }
 #divCarriere {
    grid-area: carriere;
 }
 #divCompetences {
    grid-area:competences;
 }
 #divMode {
    grid-area: mode;
 }
 #zoneVueDetaillee {
    grid-area: vue;
 }
#zoneNoe {
    grid-area:notes;
}

.config {
    display: grid;         
    grid-template:  
    "archetype peuple competences"
    "groupe carriere mode"
    "name proposition proposition"
    ". notes vue"
    "buttons buttons buttons" auto/1fr 1fr 1fr;
}

.config div {
    margin:0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#propositionUtilisateur {
    align-items: flex-end;
    margin: 0 0 12px 0;
}

#generer {
    height:4rem;
}

#save {
    height:4rem;
}

.affichageLeft,
.affichageMid,
.affichageRight {
    display: flex;
    flex-direction: column;
}

select {
    width: 5.8rem;
    margin: 0;
}


}