/**
 * Reset
 */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
 * Eléments génériques
 */

body {
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-tertiary: #d8d8d8;   
}

